<div class="card">
  <h2 class="card-header">About Me</h2>
  <div class="card-body">
    <h5 class="card-title">Here you can see my social networks</h5>
    <table class="table">
       <tbody>
      <tr>
        <th scope="row">LinkedIn</th>
        <td colspan="2">https://www.linkedin.com/in/nikita-peshkov/</td>
      </tr>
      <tr>
        <th scope="row">GitHub</th>
        <td colspan="2">https://github.com/</td>
      </tr>
      <tr>
        <th scope="row">Gmail</th>
        <td colspan="2">peskovsnikita@gmail.com</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>